/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body{
    font-family: "Open Sans", "san-serif";
    color: #444444;
    z-index:1!important;
}

a{
    color: #1977cc;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/

#home.container{
    position: relative;
}

@media(min-width: 1024px){
    #home{
        background-attachment: fixed;
    }
}

@media(max-width: 992px){
    #home{
        margin-bottom: 15px;
    }
    #home .container{
        padding-bottom: 63px;
    }
    #home h1{
        font-size: 28px;
        line-height: 36px;
    }
    #home h2{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 300){
    #home{
        height: 110vh;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header{
    /* background: transparent; */
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 40px;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#header.header-scrolled{
    top: 0;
    /* background: #fff; */
}

#header .logo{
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Poppin", sans-serif;
}

#header .logo a{
    color: #2c4964;
}

#header .logo img{
    max-height: 40px;
}

/*Navbar*/
.navbar{
    padding: 0;
}

.navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li{
    position: relative;
}

.navbar > ul >li{
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
}

.navbar a, .navbar a:focus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #2c4964;
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 2px solid #fff;
    padding: 5px 2px;
}

.navbar a i, .navbar a:focus i{
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a{
    /* color: #1977cc; */
    color: #5d17eb;
    border-color: #5d17eb;
    /* border-color: #1977cc; */
}

/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/

.body{
	margin: 70px 0px 70px 0px;
}

/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/

.form{
	width: 30%;
}

.btn{
	background-color: #5d17eb;
	color: white;
}

.btn:hover{
	background-color: black;
	color: white;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer{
    background: #eeeeee;
    padding: 0 0 30px 0;
    color: #555555;
    font-size: 14px;
    position: fixed;
    left: 0;
}
.footer-fix{
	position: fixed!important;
    left: 0!important;
    margin-top: 20px!important;
    height: 50px;
}

#footer .footer-top{
    background: #f6f6f6;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info{
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3{
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "roboto", sans-serif;
}

#footer .footer-top .social-links a{
    font-size: 18px;
    display: inline-block;
    /* background: #1977cc; */
    background: #5d17eb;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover{
    /* background: #65c9cd; */
    background: black;
    text-decoration: none;
}

#footer .footer-top h4{
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links{
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i{
    padding-right: 2px;
    color: #5d17eb;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child{
    padding-top: 0;
}

#footer .footer-top .footer-links ul a{
    color: #555555;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    /* color: #3fbbc0; */
    color: #5d17eb;
  }

#footer .footer-top .footer-newsletter form{
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type="email"]{
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"]{
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    /* background: #1977cc; */
    background: #5d17eb;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover{
    /* background: #65c9cd; */
    background: black;
}

#footer .copyright{
    text-align: center;
    padding-top: 15px;
}

#footer .credits{
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
}